* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: Teko, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #1f1f1f;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.heading-primary {
  font-size: 8rem;
  text-align: center;
  text-decoration: underline; }

.list__header {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 600;
  text-transform: uppercase; }

.list__card {
  font-size: 3rem;
  display: flex;
  align-content: center;
  align-items: center;
  border: solid #000 2px;
  border-radius: .5rem;
  width: 30rem;
  position: relative;
  font-weight: 700;
  padding-left: 1rem;
  padding-top: .2rem; }
  .list__card:not(:last-child) {
    margin-bottom: 2rem; }
  .list__card-checkbox {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 30%;
    right: 1rem; }

.list__card--done {
  color: #A9A9A9;
  border: solid 2px #A9A9A9;
  text-decoration: line-through;
  background-color: #90EE90; }

.list__card--red {
  background-color: #ff6666; }

.list__card--green {
  background-color: #00FF7F; }

.add__btn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  margin-left: 2rem;
  background-color: #000;
  color: #fff;
  font-size: 2.2rem;
  height: 4rem;
  width: 20rem;
  text-transform: uppercase;
  border-radius: 1.5rem;
  outline: none;
  transition: all .2s;
  font-family: inherit; }
  .add__btn:hover {
    transform: scale(1.05);
    color: #ff6666; }

.add__input {
  outline: none;
  width: 20rem;
  height: 2.5rem;
  font-size: 2.2rem;
  border: solid 3px #000; }

.header {
  margin: 4rem; }

.list {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  list-style-type: none;
  position: relative;
  width: auto; }
  .list__section {
    list-style-type: none; }

.add {
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center; }
